{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-default-exports": [
      "off"
    ],
    "@typescript-eslint/no-unused-vars": [
      "off"
    ]
  }
}
